//@import url(http://fonts.googleapis.com/css?family=Open+Sans);
page-messageadd{
  background: #303030;

  .content-md {
    background: #303030;
.clearfix{ clear: both;}


        .message_list_wrapper{  padding: 10px; border-bottom: solid 1px #303030;

          input[type="text"]{background: #fff none repeat scroll 0 0;
            border: 1px solid #000;
            color: #5b5b5b;
            font-size: 14px;
            height: 40px;
            margin: 5px 0;
            padding: 0 5px;
            width: 100%;}


          ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #5b5b5b; opacity: 1;
          }
          ::-moz-placeholder { /* Firefox 19+ */
            color: #5b5b5b; opacity: 1;
          }
          :-ms-input-placeholder { /* IE 10+ */
            color: #5b5b5b; opacity: 1;
          }
          :-moz-placeholder { /* Firefox 18- */
            color: #5b5b5b; opacity: 1;
          }


          textarea{background: #fff none repeat scroll 0 0;
            border: 1px solid #000;
            color: #5b5b5b;
            font-size: 14px;
            height: 140px;
            margin: 5px 0;
            padding: 0 5px;
            width: 100%;}

          .sendbtn{background-color: #0eb60e !important;
            color: #fff !important;
            text-transform: capitalize;
            padding: 10px 30px;
            font-family: 'Open Sans';
            font-size: 14px;
            text-align: center;
            cursor: pointer;
            border: none;
            border-radius: 0px;
            color: #fff;
            border: 1px solid #0eb60e; margin-top: 5px;}



          }







  }
}