@import url(//fonts.googleapis.com/css?family=Open+Sans);

.innerheader .toolbar-title{ font-size:20px;}
page-inventorymatch{
  background: #fb4a32;

  .content-md {
    background: #fb4a32;

.clearfix{ clear:both;}

 .logo-area{
   width: 55%;
   margin: 40px auto; margin-top:20px;
   
   img{ width:100%;}
}

.inventorymatch-car-area{ width:75%; margin:0 auto; margin-bottom:40px;

   img{ width:100%; border:solid 6px #fff;}

}



.inventorymatch-color-area{ width:228px; text-align:center; margin:0 auto;  margin-bottom:40px;


span{ border:solid 4px #fff; width:60px; height:60px; margin:0 8px; display:block; float:left;}

.span1{
background: rgba(11,121,238,1);
background: -moz-linear-gradient(-45deg, rgba(11,121,238,1) 0%, rgba(62,149,241,1) 50%, rgba(0,115,237,1) 51%, rgba(0,115,237,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(11,121,238,1)), color-stop(50%, rgba(62,149,241,1)), color-stop(51%, rgba(0,115,237,1)), color-stop(100%, rgba(0,115,237,1)));
background: -webkit-linear-gradient(-45deg, rgba(11,121,238,1) 0%, rgba(62,149,241,1) 50%, rgba(0,115,237,1) 51%, rgba(0,115,237,1) 100%);
background: -o-linear-gradient(-45deg, rgba(11,121,238,1) 0%, rgba(62,149,241,1) 50%, rgba(0,115,237,1) 51%, rgba(0,115,237,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(11,121,238,1) 0%, rgba(62,149,241,1) 50%, rgba(0,115,237,1) 51%, rgba(0,115,237,1) 100%);
background: linear-gradient(135deg, rgba(11,121,238,1) 0%, rgba(62,149,241,1) 50%, rgba(0,115,237,1) 51%, rgba(0,115,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b79ee', endColorstr='#0073ed', GradientType=1 );
}

.span2{
background: rgba(57,174,31,1);
background: -moz-linear-gradient(-45deg, rgba(57,174,31,1) 0%, rgba(99,191,79,1) 50%, rgba(48,170,21,1) 51%, rgba(48,170,21,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(57,174,31,1)), color-stop(50%, rgba(99,191,79,1)), color-stop(51%, rgba(48,170,21,1)), color-stop(100%, rgba(48,170,21,1)));
background: -webkit-linear-gradient(-45deg, rgba(57,174,31,1) 0%, rgba(99,191,79,1) 50%, rgba(48,170,21,1) 51%, rgba(48,170,21,1) 100%);
background: -o-linear-gradient(-45deg, rgba(57,174,31,1) 0%, rgba(99,191,79,1) 50%, rgba(48,170,21,1) 51%, rgba(48,170,21,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(57,174,31,1) 0%, rgba(99,191,79,1) 50%, rgba(48,170,21,1) 51%, rgba(48,170,21,1) 100%);
background: linear-gradient(135deg, rgba(57,174,31,1) 0%, rgba(99,191,79,1) 50%, rgba(48,170,21,1) 51%, rgba(48,170,21,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39ae1f', endColorstr='#30aa15', GradientType=1 );
}


.span3{
background: rgba(239,18,18,1);
background: -moz-linear-gradient(-45deg, rgba(239,18,18,1) 0%, rgba(241,52,52,1) 50%, rgba(238,9,9,1) 51%, rgba(238,9,9,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(239,18,18,1)), color-stop(50%, rgba(241,52,52,1)), color-stop(51%, rgba(238,9,9,1)), color-stop(100%, rgba(238,9,9,1)));
background: -webkit-linear-gradient(-45deg, rgba(239,18,18,1) 0%, rgba(241,52,52,1) 50%, rgba(238,9,9,1) 51%, rgba(238,9,9,1) 100%);
background: -o-linear-gradient(-45deg, rgba(239,18,18,1) 0%, rgba(241,52,52,1) 50%, rgba(238,9,9,1) 51%, rgba(238,9,9,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(239,18,18,1) 0%, rgba(241,52,52,1) 50%, rgba(238,9,9,1) 51%, rgba(238,9,9,1) 100%);
background: linear-gradient(135deg, rgba(239,18,18,1) 0%, rgba(241,52,52,1) 50%, rgba(238,9,9,1) 51%, rgba(238,9,9,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef1212', endColorstr='#ee0909', GradientType=1 );
}


}





.inventorymatch-bottom-area{background:#222222; padding:25px;


 @media screen and (max-width:480px) {	
 
 padding:15px;
 
 }

table{ border-radius:4px; width:100%;}

th{ alignment-adjust:central; vertical-align:middle; text-align:center; font-family: 'Open Sans'; font-weight:700;  padding:8px 5px; border-top:solid 1px #4d4d4d; border-bottom:solid 1px #4d4d4d;  font-size:20px; color:#fff; text-transform:uppercase; 
background: rgba(62,62,62,1);
background: -moz-linear-gradient(top, rgba(62,62,62,1) 0%, rgba(62,62,62,1) 50%, rgba(54,54,54,1) 51%, rgba(54,54,54,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(62,62,62,1)), color-stop(50%, rgba(62,62,62,1)), color-stop(51%, rgba(54,54,54,1)), color-stop(100%, rgba(54,54,54,1)));
background: -webkit-linear-gradient(top, rgba(62,62,62,1) 0%, rgba(62,62,62,1) 50%, rgba(54,54,54,1) 51%, rgba(54,54,54,1) 100%);
background: -o-linear-gradient(top, rgba(62,62,62,1) 0%, rgba(62,62,62,1) 50%, rgba(54,54,54,1) 51%, rgba(54,54,54,1) 100%);
background: -ms-linear-gradient(top, rgba(62,62,62,1) 0%, rgba(62,62,62,1) 50%, rgba(54,54,54,1) 51%, rgba(54,54,54,1) 100%);
background: linear-gradient(to bottom, rgba(62,62,62,1) 0%, rgba(62,62,62,1) 50%, rgba(54,54,54,1) 51%, rgba(54,54,54,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e3e3e', endColorstr='#363636', GradientType=0 ); width:33.3%;

 @media screen and (max-width:440px) {	
 
 font-size:13px;
 
 }
 
 
 }

td{ alignment-adjust:central; vertical-align:middle; text-align:center; font-family: 'Open Sans'; background:#101010; padding:8px 5px;  font-size:16px; color:#fabd02; text-transform:uppercase; border:none;

 @media screen and (max-width:440px) {	
 
 font-size:13px;
 
 }
} 

tr{ border-top:solid 3px #222222; border-bottom:solid 3px #222222;}



.detailbtn{ display:block; margin:25px auto; width:210px; height:50px; border-radius:5px; text-align:center; line-height:50px; font-family: 'Open Sans'; font-size:16px; color:#fff; text-transform:uppercase; text-decoration:none; outline:none; 
background: rgba(74,74,74,1);
background: -moz-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(58,58,58,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(74,74,74,1)), color-stop(100%, rgba(58,58,58,1)));
background: -webkit-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(58,58,58,1) 100%);
background: -o-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(58,58,58,1) 100%);
background: -ms-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(58,58,58,1) 100%);
background: linear-gradient(to bottom, rgba(74,74,74,1) 0%, rgba(58,58,58,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4a4a', endColorstr='#3a3a3a', GradientType=0 ); -webkit-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.52);
-moz-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.52);
box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.52);
}

.bottomarrow{ display:block; margin:0 auto; margin-bottom:10px;}

}











  }
}