<ion-header class="login-header ">
  <button (click)="goback()">
    <ion-icon name="arrow-round-back"></ion-icon>
  </button>
  <ion-title>Messages</ion-title>
</ion-header>

<ion-content>
  <div class="main-wrapper">

    <div class="message_list_top">
      <div class="message_inbox">
        <div *ngIf="messagedetails">{{messagedetails.subject}}</div>
      </div>

      <a [navPush]="messageaddpage" class="messageadd">Add</a>
      <div class="clearfix"></div>
    </div>

 <div class="message_list_wrapper">

   <h4 class="msgdatetext" *ngIf="messagedetails">{{gettimestr(messagedetails)}}</h4>
   <div class="mailbox-controls1"> <button class="button  ion-ios-undo replybtn" (click)="showReplybox=1"> Reply</button></div>


   <div class="msgtext1">

     <span class="span1">To</span>
     <span class="span2">{{replytoname}}</span>
     <div class="clearfix"></div>

   </div>
   <div class="msgtext1">

     <span class="span1">Subject</span>
     <span class="span2" *ngIf="messagedetails">{{messagedetails.subject}}</span>
     <div class="clearfix"></div>

   </div>

   <div class="msgtext2">

     <span *ngIf="messagedetails">{{getBodyText(messagedetails)}}</span>

   </div>




   <h1 *ngIf="totalreply">Replies:</h1>

   <div class="msgtext2" *ngFor="let item of replymessage; let i = index">

     <h5><strong>{{item.fromfullname}}</strong> <b>{{gettimestr1(item)}}</b><div class="clearfix"></div></h5>

     <span>{{getBodyText(item)}}</span>

   </div>

   <div class="replybox" *ngIf="showReplybox">

     <form [formGroup]="dataForm" (ngSubmit)="addMessage(dataForm.value)">
       <textarea [formControl]="dataForm.controls['msgbody']"></textarea>
       <button class="sendbtn" type="submit">Send</button>
     </form>

   </div>



  </div>

</div>
</ion-content>
