@import url(//fonts.googleapis.com/css?family=Open+Sans);

page-managepreferences4{
  background: #fb4a32;

  .content-md {
    background: #fb4a32;

    .clearfix{ clear:both;}

    .logo-area{
      width: 55%;
      margin: 0px auto; margin-top:20px;

      img{ width:100%;}
    }


    .preferences_text1{ padding:20px 15px 20px 15px;

      h2{ margin:0; padding:10px; font-family: 'Open Sans'; font-size:30px; color:#fff; text-transform:uppercase;   line-height:40px; text-align:center; font-weight: 700; }


    }

    .preferences_text3{ background: #151515; padding:20px;
      h3{ margin:0; padding:0 10px; font-family: 'Open Sans'; font-size:24px; color:#fff; text-transform:uppercase; line-height:40px; text-align:center; }
      .preferences_chakebox5{ width:180px; margin:22px auto; margin-top:18px;



        .mr_chakebox2{ width: 100%; margin: 15px auto;
          input{ width: 30px; float: left; margin-top: 5px;}
          label{ display:block; text-align: left; padding-left: 5px;  float: left;  font-family: 'Open Sans'; font-size: 20px; color: #fff;   font-weight:600; text-transform: uppercase; width:150px;  }



        }


      }
    }


    .preferences_btngroup{  padding:20px;



      .grbtn_nextbtn{  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #2f2f2f 0%, #111111 100%) repeat scroll 0 0;
        border-radius: 30px;
        color: #fff;
        display: block;
        font-size:18px;
        font-weight: 800; line-height: 45px; text-transform: uppercase;

        margin: 0 auto;
        width: 80px; }

      .btnwrapper{ width: 33.3%!important; float: left;

        .sbtncon{ margin:0 auto;}
        .pbtncon{ float: left;}
        .nbtncon{ float: right;}


      }








    }

  }
}