//@import url(http://fonts.googleapis.com/css?family=Open+Sans);

page-managepreferences10{
  background: #fb4a32;

  .content-md {
    background: #fb4a32;

    .clearfix{ clear:both;}

    .logo-area{
      width: 55%;
      margin: 0px auto; margin-top:20px;

      img{ width:100%;}
    }


    .preferences_text1{ padding:20px 15px 20px 15px;

      h2{ margin:0; padding:10px; font-family: 'Open Sans'; font-size:30px; color:#fff; text-transform:uppercase;   line-height:40px; text-align:center; font-weight: 700; }


    }

    .preferences_text3{ background: #151515; padding:2%;



	.maintable{ width:100%;}
	.carmgdiv{ background:#ffffff; width:46%; height:300px; float: left; margin:2%; text-align:center; vertical-align:middle; padding: 20px;

      @media screen and (max-width:880px) {
        height:260px
      }

      @media screen and (max-width:560px) {
        height:220px
      }

      @media screen and (max-width:560px) {
        height:200px
      }

      @media screen and (max-width:400px) {
        height:160px; padding: 20px 10px;
      }


    }


      .activeblog{




        img
        { -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
          filter: grayscale(0%); }




        h2{color:#FC4932;}

      }



  input[type=checkbox]{width:20px;   float: right;}

      .carmg{ width:100%; height:150px; margin: 20px 0;

        @media screen and (max-width:880px) {
          height:100px
        }

        @media screen and (max-width:560px) {
          height:70px
        }

        @media screen and (max-width:400px) {
          height:55px; margin: 10px 0;
        }



      }

	img{ max-width:100%; max-height: 100%;  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);}



	
	
	h2{ margin:0; padding:10px 0; text-align:center; text-transform:uppercase; font-family: 'Open Sans'; font-size:26px; color:#1f1f1e;

      @media screen and (max-width:560px) {
        font-size:18px;
      }

      @media screen and (max-width:400px) {
        font-size:14px;
      }

    }
	
	
	
	
	






}










    .preferences_btngroup{  padding:20px;



      .grbtn_nextbtn{  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #2f2f2f 0%, #111111 100%) repeat scroll 0 0;
        border-radius: 30px;
        color: #fff;
        display: block;
        font-size:18px;
        font-weight: 800; line-height: 45px; text-transform: uppercase;

        margin: 0 auto;
        width: 80px; }

      .btnwrapper{ width: 33.3%!important; float: left;

        .sbtncon{ margin:0 auto;}
        .pbtncon{ float: left;}
        .nbtncon{ float: right;}


      }








    }

  }
}