<ion-header class="login-header ">
  <button menuToggle="left">
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title class="innerheader">RSVP</ion-title>
  <button class="right-btn">
    <ion-icon name="more"></ion-icon>
  </button>
</ion-header>

<ion-content>
    <div class="main-wrapper">
        <div class="logo-area">
            <img src="assets/images/slider-logo.png">
        </div>



        <div class="page_slider_btnwrapper">

            <a href="javascript:void(0)" class="prevbtn" (click)="prevSlide()"><img src="assets/images/prev-page.png"></a>

            <a href="javascript:void(0)" class="nextbtn" (click)="nextSlide()"><img src="assets/images/next-page.png"></a>

            <div class="clearfix"></div>

        </div>

        <ion-slides #mySlider>
            <ion-slide *ngFor="let itemrsvp of rsvplistarr let irsvp=index">
                <div class="inventorymatch-detail-car-area">
                    <ion-slides [options]="mySlideOptions" class="imageSlides">
                        <ion-slide>
                            <div class="detail_bigcar">
                                <img src="{{filesrc}}{{getcardetails(itemrsvp.inventoryid,'imagestatic')}}" >
                            </div>
                        </ion-slide>
                        <ion-slide *ngFor="let adcariamge of getcardetails(itemrsvp.inventoryid,'addcarimage')">
                            <div class="detail_bigcar">
                                <img src="{{filesrc}}{{adcariamge}}" >
                            </div>
                        </ion-slide>
                    </ion-slides>

                    <div class="inventorymatch_detail_formgroup">
                        <ion-item>
                            <ion-label>Want to participate?</ion-label>
                            <ion-select>
                                <ion-option value="y" selected="true">Yes</ion-option>
                                <ion-option value="n">No</ion-option>
                            </ion-select>
                        </ion-item>

                        <div class="ion-setbox">
                            <ion-label color="primary">Set your max bid</ion-label>
                            <ion-input placeholder="Set your max bid"></ion-input>
                            <button (click)="setMaxbid()">Set</button>
                        </div>

                        <div class="ion-setbox-bottom">
                            <h2>Suggested Max Bid $ 20,000 </h2>
                            <img src="assets/images/inven_img2.jpg">
                            <button ngClass="{{(commit == 1)?'commitbtn':''}}" (click)="carcommit()">
                                <img src="assets/images/Inventory-btnicon.png"> RSVP to commit on this car
                            </button>
                        </div>
                    </div>
                </div>
                <div class="inventorymatch-bottom-areadetail" *ngIf="colorlist && carautoyearlist && carbodystylelist && carmileagelist && carlogolist">



                  <table border="0">
                      <tr>
                          <th align="left" valign="middle"><strong>Details</strong></th>
                          <th align="right" valign="middle">{{getcardetails(itemrsvp.inventoryid,'make')}}</th>
                      </tr>


                      <tr>
                          <td align="left" valign="middle">Doc Type </td>
                          <td align="right" valign="middle"><label>{{getcardetails(itemrsvp.inventoryid,'doctype')}}</label></td>
                      </tr>
                      <tr>
                          <td align="left" valign="middle">Model </td>
                          <td align="right" valign="middle"><label>{{getcardetails(itemrsvp.inventoryid,'model')}}</label></td>
                      </tr>


                      <tr>
                          <td align="left" valign="middle">Retail Commission </td>
                          <td align="right" valign="middle"><label>{{itemrsvp.retialcommission}} USD</label></td>
                      </tr>

                      <tr>
                          <td align="left" valign="middle">VIN   </td>
                          <td align="right" valign="middle"><label> {{getcardetails(itemrsvp.inventoryid,'vin')}}</label></td>
                      </tr>

                      <tr>
                          <td align="left" valign="middle">Body Style </td>
                          <td align="right" valign="middle"><label> {{getcardetails(itemrsvp.inventoryid,'carbodystylelist')}}</label></td>
                      </tr>


                      <tr>
                          <td align="left" valign="middle">Color  </td>
                          <td align="right" valign="middle">{{getcardetails(itemrsvp.inventoryid,'color')}}</td>
                      </tr>

                      <tr>
                          <td align="left" valign="middle">Engine Type </td>
                          <td align="right" valign="middle">{{getcardetails(itemrsvp.inventoryid,'enginetype')}}</td>
                      </tr>

                      <tr>
                          <td align="left" valign="middle">Drive    </td>
                          <td align="right" valign="middle"><label> {{getcardetails(itemrsvp.inventoryid,'drive')}}</label></td>
                      </tr>

                      <tr>
                          <td align="left" valign="middle">Cylinder </td>
                          <td align="right" valign="middle"><label>{{getcardetails(itemrsvp.inventoryid,'cylinder')}}</label></td>
                      </tr>


                      <tr>
                          <td align="left" valign="middle">Fuel   </td>
                          <td align="right" valign="middle"><label> {{getcardetails(itemrsvp.inventoryid,'fuel')}}</label></td>
                      </tr>


                      <tr>
                          <td align="left" valign="middle">Gear type   </td>
                          <td align="right" valign="middle"><label> {{getcardetails(itemrsvp.inventoryid,'gear_type')}}</label></td>
                      </tr>


                      <tr>
                          <td align="left" valign="middle">Seats   </td>
                          <td align="right" valign="middle"><label> {{getcardetails(itemrsvp.inventoryid,'seats')}}</label></td>
                      </tr>

                  </table>
                </div>
            </ion-slide>
        </ion-slides>



  </div>


</ion-content>
