
.popover-md .popover-content{ background: none!important;}

page-popover { height: auto!important; border-radius: 0px!important; overflow: inherit!important; border-radius: 0px!important;

  .contact-div{ border: solid 2px #000; padding: 10px; line-height: 20px; font-size: 14px; background: rgba(0, 0, 0, .9)!important; border-radius: 4px; color: #fff; text-align: center;}

  h2{ margin: 0; padding: 0 0 5px 0; color: #F94B34;   font-size: 17px;}

  p{line-height: 20px; font-size: 14px; margin: 0; padding: 0; }

  span{ color: #F94B34; }





}