//@import url(http://fonts.googleapis.com/css?family=Open+Sans);

page-managepreferences7{
  background: #fb4a32;

  .content-md {
    background: #fb4a32;

    .clearfix{ clear:both;}

    .logo-area{
      width: 55%;
      margin: 0px auto; margin-top:20px;

      img{ width:100%;}
    }


    .preferences_text1{ padding:20px 15px 20px 15px;

      h2{ margin:0; padding:10px; font-family: 'Open Sans'; font-size:30px; color:#fff; text-transform:uppercase;   line-height:40px; text-align:center; font-weight: 700; }


    }

    .preferences_text3{ background: #151515; padding:0 0 20px 0;
	
	
	.searchblockbody{background:#000; padding:15px;

.searchblock{ width:280px; margin:0 auto;

.clearlink{ width:94px; text-align:left; font-family: 'Open Sans'; font-size:14px; color:#7a7a7a!important; text-decoration: none; text-transform: capitalize;  float:left;
  img{ width: 20px; float: left; margin: 3px 0 0 0;}

  a{font-size:14px; color:#7a7a7a!important; text-decoration: none; text-transform: capitalize;  display: block; width: 74px; float: left; padding-left:6px;}

}

.researchlink{ width:150px; text-align:left; font-family: 'Open Sans'; font-size:14px; color:#7a7a7a!important; text-decoration: none; text-transform: capitalize;  float:right;
  img{ width: 20px; float: left;}

  a{font-size:14px; color:#7a7a7a!important; text-decoration: none; text-transform: capitalize;  display: block; width: 130px; float: left; padding-left: 6px;}

}




}

}





      h3{ margin:0; padding:0 10px; font-family: 'Open Sans'; font-size:24px; color:#fff; text-transform:uppercase; line-height:40px; text-align:center; }
      .preferences_chakebox8{ width:280px; margin:22px auto; margin-top:18px;
	  
	  .allmakes_btn{color:#828282; width:130px; display:block; margin:0 auto; font-family: 'Open Sans'; font-size:16px; text-align:center; text-transform: capitalize; background: none; margin-top: 25px;}

          h6{ background:#181818; padding:25px; font-family: 'Open Sans'; font-size:24px; color:#fff; text-transform:uppercase;  font-weight:300;} 

        .mr_chakebox2{ width: 100%; margin: 15px auto;
          input{ width: 30px; float: left; margin-top: 5px;}
          label{ display:block; text-align: left; padding-left: 5px;  float: left;  font-family: 'Open Sans'; font-size: 20px; color: #fff;   font-weight:600; text-transform: uppercase; width:200px;  }
		  
		  span{color:#b3b3b3; font-weight:300; display:block;  text-align: right; width:50px;  float: right; }
		  




        }


      }
    }


    .preferences_btngroup{  padding:20px;



      .grbtn_nextbtn{  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #2f2f2f 0%, #111111 100%) repeat scroll 0 0;
        border-radius: 30px;
        color: #fff;
        display: block;
        font-size:18px;
        font-weight: 800; line-height: 45px; text-transform: uppercase;

        margin: 0 auto;
        width: 80px; }

      .btnwrapper{ width: 33.3%!important; float: left;

        .sbtncon{ margin:0 auto;}
        .pbtncon{ float: left;}
        .nbtncon{ float: right;}


      }








    }

  }
}