@import url(//fonts.googleapis.com/css?family=Open+Sans);

page-managepreferences8{
  background: #fb4a32;

  .content-md {
    background: #fb4a32;

    .clearfix{ clear:both;}

    .logo-area{
      width: 55%;
      margin: 0px auto; margin-top:20px;

      img{ width:100%;}
    }


    .preferences_text1{ padding:20px 15px 20px 15px;

      h2{ margin:0; padding:10px; font-family: 'Open Sans'; font-size:30px; color:#fff; text-transform:uppercase;   line-height:40px; text-align:center; font-weight: 700; }


    }

    .preferences_text3{ background: #151515; padding:1.5%;

	.maintable{ width:100%;
	.carlogodiv{ background:#ffffff; width:30%; height:300px; float: left; margin:1.5%; text-align:center; vertical-align:middle; padding: 20px;

      @media screen and (max-width:680px) {
        height:240px;
      }

      @media screen and (max-width:580px) {
        height:180px;
      }

      @media screen and (max-width:480px) {
        height:140px;  padding: 15px;
      }


      @media screen and (max-width:380px) {
        height:110px;  padding: 10px;
      }



      div{ display: table-cell; width: 100%; height: 260px; text-align: center; vertical-align: middle;

        @media screen and (max-width:680px) {
          height:200px
        }

        @media screen and (max-width:580px) {
          height:140px
        }

        @media screen and (max-width:480px) {
          height:110px
        }


        @media screen and (max-width:380px) {
          height:90px
        }


      }

	img{ width:100%; max-height: 100%;}
	}
    }


}





    




    .preferences_btngroup{  padding:20px;



      .grbtn_nextbtn{  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #2f2f2f 0%, #111111 100%) repeat scroll 0 0;
        border-radius: 30px;
        color: #fff;
        display: block;
        font-size:18px;
        font-weight: 800; line-height: 45px; text-transform: uppercase;

        margin: 0 auto;
        width: 80px; }

      .btnwrapper{ width: 33.3%!important; float: left;

        .sbtncon{ margin:0 auto;}
        .pbtncon{ float: left;}
        .nbtncon{ float: right;}


      }








    }

  }
}