//@import url(http://fonts.googleapis.com/css?family=Open+Sans);

page-managepreferences11{
  background: #fb4a32;

  .content-md {
    background: #fb4a32;

    .clearfix{ clear:both;}

    .logo-area{
      width: 55%;
      margin: 0px auto; margin-top:20px;

      img{ width:100%;}
    }


    .preferences_text1{ padding:20px 15px 20px 15px;

      h2{ margin:0; padding:10px; font-family: 'Open Sans'; font-size:30px; color:#fff; text-transform:uppercase;   line-height:40px; text-align:center; font-weight: 700; }


    }

    .preferences_text3{ background: #151515; padding:2%;

      @media screen and (max-width:480px) {
        padding: 1px 2%;
      }

	.maintable{ width:100%;
	.carmgdiv{ background:#ffffff; width:46%;  float: left; margin:2%; text-align:center; vertical-align:middle; padding: 20px;


      @media screen and (max-width:480px) {
        width:100%;  float: none; margin:10px 0;
      }



  input[type=checkbox]{width:15%;   float: right;}

      .carmg{ width:25%; float: left; }


	
	
	
	h2{ margin:0; padding:8% 0 0 0; width: 60%; text-align:center; text-transform:uppercase; font-family: 'Open Sans'; font-size:20px; color:#1f1f1e; display: block; float: left;


      @media screen and (max-width:880px) {
        padding:5% 5px 0 5px; width: 55%;
      }

      @media screen and (max-width:700px) {
        padding:2% 5px 0 5px;
      }

      @media screen and (max-width:580px) {
        padding:4% 5px 0 5px; font-size:14px;
      }

      @media screen and (max-width:480px) {
        padding:8% 5px 0 5px; font-size:16px;
      }

      @media screen and (max-width:350px) {
        padding:8% 5px 0 5px; font-size:14px;
      }


    }
	
	
	
	
	
	}
    }


}





    




    .preferences_btngroup{  padding:20px;



      .grbtn_nextbtn{  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #2f2f2f 0%, #111111 100%) repeat scroll 0 0;
        border-radius: 30px;
        color: #fff;
        display: block;
        font-size:18px;
        font-weight: 800; line-height: 45px; text-transform: uppercase;

        margin: 0 auto;
        width: 80px; }

      .btnwrapper{ width: 33.3%!important; float: left;

        .sbtncon{ margin:0 auto;}
        .pbtncon{ float: left;}
        .nbtncon{ float: right;}


      }








    }

  }
}