//@import url(http://fonts.googleapis.com/css?family=Open+Sans);
page-messagedealer{
  background: #303030;

  .content-md {
    background: #303030;
.clearfix{ clear: both;}


    .message_list_top{ width: 100%; padding: 10px; background:#FB4C34;

       .message_inbox{ width: 200px;  float: left;

         button{/* background:#FB4C34;*/ border: none!important; color: #fff!important;}

         .select-md{ padding: 0px; padding-right: 15px;}
         ion-select{ width: 100%; max-width: inherit!important;}
         .list-md{ margin: 0px;}

         .select-md .select-icon .select-icon-inner{color: #333!important;}
       }


      .messageadd{ width: 50px; height: 50px; float: right;  background: url("../../assets/images/mail_create.png") no-repeat scroll left top; background-size: 100%; font-size: 0px; }

    }


     .message_list_wrapper{ width: 100%;

        .message_list{ background: #fff; padding: 10px; border-bottom: solid 1px #303030;

           h1{ margin: 0; padding: 2px 0 2px 26px; background:  url("../../assets/images/inboxicon.png") no-repeat scroll left 0px; background-size: 20px; font-family: 'Open Sans'; font-size:13px; color: #000; }


          span{ width: 50px; display: block; float: right;   margin-left: 5px; text-align: right; }

          strong{ display: inline-block; float: left; font-size:14px;}
          }

       h2{  font-family: 'Open Sans';  font-size: 13px; color:#111; margin: 0; padding: 5px 0 5px 26px; font-weight: 700;}

       h3{ font-size: 12px; color: #5b5b5b; margin: 0; padding: 0 0 0 26px; font-family: 'Open Sans';}

        .read{ background: #ccc;}

     }


  }
}